<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <section class="seccion-perfil-usuario">
    <div class="perfil-usuario-header">
      <div class="perfil-usuario-portada">
        <div class="perfil-usuario-avatar">
          <img src="https://cdn-icons-png.flaticon.com/512/4509/4509616.png" alt="img-avatar">
          <button type="button" class="boton-avatar">
            <i class="far fa-image"></i>
          </button>
        </div>
        <button type="button" class="boton-portada">
          <i class="far fa-image"></i> Cambiar fondo
        </button>
      </div>
    </div>



    <div class="perfil-usuario-body">
      <div class="perfil-usuario-bio">
        <h3 class="titulo">Maria Alejandra De la Cruz</h3>
        <p class="texto">Encantada de aprender nuevas cosas acada dia.</p>
      </div>
      <!-- Botón de Editar Perfil como un botón normal -->
      <div class="editar-perfil">
        <button type="button" class="boton-editar">Editar Perfil</button>
      </div>
      <div class="perfil-usuario-footer">
        <ul class="lista-datos">
          <li><i class="icono fas fa-map-signs"></i> Usuario: Pedrito69</li>
          <li><i class="icono fas fa-phone-alt"></i> Telefono: 926980964 </li>
          <li><i class="icono fas fa-building"></i> Cargo: Estudiante</li>
        </ul>
        <ul class="lista-datos">
          <li><i class="icono fas fa-map-marker-alt"></i> Ubicacion: Peru</li>
          <li><i class="icono fas fa-calendar-alt"></i> Fecha nacimiento: 12/02/03</li>
          <li><i class="icono fas fa-user-check"></i> Suscripción: 1 meses</li>
          <li><i class="icono fas fa-share-alt"></i> Git: ----</li>
        </ul>
      </div>


    </div>
  </section>

</ion-content>