<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">register</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="login-container">
    <div class="login-info-container">
      <h1 class="title">Registrarse
      </h1>
      <h2 class="title">
        Alguien nuevo!
      </h2>
      <form class="inputs-container">
        <input class="input" type="text" placeholder="Usuario">
        <input class="input" type="text" placeholder="Nombres">
        <input class="input" type="text" placeholder="Email">
        <input class="input" type="text" placeholder="Constraseña">



        <button class="btn" [routerLink]="['/principal']">Iniciemos!</button>
        <p>¿No tienes una cuenta?
          <span class="span" [routerLink]="['/login']" routerDirection="forward" routerLinkActive="active-link">
            Iniciar Sesión
          </span>
        </p>

      </form>
    </div>
  </div>
</ion-content>