ion-content.background {
    --background: url(../../../assets/princi/mar2.jpg) 0 0/100% 100% no-repeat;
}

.exam-container {

    background-color: rgba(179, 228, 218, 0.603);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 700px;
    width: 100%;
    text-align: left;
    overflow-y: auto;
    /* Permite el desplazamiento si el contenido excede la altura */
    align-self: center;
    margin-top: 8rem;
}

h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

.submit-button,
.return {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: 16px;
}

.submit-button {
    background-color: #007bff;
    color: white;
}

.submit-button:hover {
    background-color: #0056b3;
}

.return {
    background-color: #2a3d2f;
    color: white;
}

.return:hover {
    background-color: #1e3d24;
}

.hidden {
    display: none;
}

.question {
    margin: 15px 0;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="radio"] {
    margin-right: 10px;
    /* Espacio entre el radio y el texto */
}

/* Agregar estilos adicionales para centrar el contenedor verticalmente */
html,
body {
    height: 100%;
    margin: 0;
}

.exam-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /* Desplaza el contenedor hacia arriba para centrarlo verticalmente */
}